
.safehr{
	background-color: #BB9D2D; 
	width:34%;
	height: 35px; 
	font-size: 25px;
	color: #F8F7F4;
	text-align: center;
	margin-top: 15px;
}

.omaha{
	color: #7A009D;  
	width:50%;
	margin-top: 10px; 
	margin-bottom: 10px;
	height: 50px; 
	font-size: 40px;
}

.bar{
	background-color:#BB9D2D; 
	width :95% ; 
	height :5px;  
	margin-right: 15px;
	margin-bottom: 25px;
}

.title{
	color: #7A009D;  
	font-size: 30px;
	height: 30px;
	text-align: center;

}

.indexbox{
	color:white; 
	background-color: #9099BF; 
	width: 26%; 
	height:35px; 
	text-align: center; 
	font-size: 25px;
	margin-left: 550px;
}

.box{
	color:white; 
	background-color: #9099BF; 
	width: 26%; 
	height:35px; 
	text-align: center; 
	font-size: 25px;
	margin-left: 50px;
}


.save{
	color:white; 
	background-color: #9099BF; 
	width: 5%; 
	height:35px; 
	text-align: center; 
	font-size: 25px;
}